{% extends 'base.html' %}
{% load bootstrap4 %}


<script>
  const notifiy = alert("Post Sucesfully Created!")
</script>


{% block content %}
  <div class="container mt-4">
    <h2>Create a new post</h2>
    <p>Video and Image not required</p>

    <form method="POST" enctype="multipart/form-data" class="form">
      {% csrf_token %}
      {% load bootstrap4 %}
      {% bootstrap_form form %}
      {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>

      {% endbuttons %}
    </form>
  </div>
{% endblock %}

